<div class="overlay" id="overlayWidget">
    <div class="card">
        <div class="card-content">
            <h2>Bitte Seite freischalten</h2>
            <p>
                Der Inhalt dieser Seite ist nur für Premium-Nutzer freigeschaltet. Sie können erst auf weiter klicken wenn sie bezahlt haben.
            </p>
        </div>

        <div class="card-buttons">
            <button class="button button-orange " disabled onclick="removeWidget()">Weiter</button>
            <button class="button button-orange " onclick="alert( 'Du sollst doch den anderen Button hacken! 😉') ">Bezahlen</button>
        </div>
    </div>
</div>